﻿@{
    ViewData["Title"] = "Práctica usuarios";
}

<div class="text-center">
    <h1 class="display-4">Practica Usuario</h1>

    <a href="./index.html">Cliente AJAX Usuarios</a>
    <br />
    <a href=".//proyectoBackend/indexAngular.html">Contadores</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
